.content {
  /* background-image: url('https://cdn.pixabay.com/photo/2016/12/18/02/35/paper-1914901_1280.jpg'); */
  background-image: url('https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847_1280.jpg');
}
.btn{
  position: relative;
  overflow: hidden;
}
.btn::after{
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: -20%;
  width: 7%;
  height: 100%;
  background: rgba(255,255,255,0.4);
  transform: skew(40deg, 0);
  transition: all .4s ease-in-out;
}
.btn:hover::after{
  left: 120%;
}